<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schronisko</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body style="margin: 30px">

<h2 style="background: #ccc">Schronisko reksio i klakier</h2>

<h5>Zwierzaki szukające domu</h5>

<div th:each="animal:${animals}">
<a th:text="${animal.getName()}"></a><br/>
</div>
</body>
</html>